# Project place files
# /*.rbxlx
# /*.rbxl

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Rokit binaries
/.rokit/

# Personal configuration backups
CONFIGURACOES-PESSOAIS-BACKUP.json

# Internal tools
# /rbxclone.lua